

body {

    




background-color: #f2f2f2;
    margin: 6;
    padding: 0;
}

header {
    background-color: #bbb;
    color: black;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 31px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    border: 1px solid #ddd;
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.faq-item:hover{
    background-color:darkgrey;
    transform: scale(1.015);
    transition: 4ms;
}

h2 {
    font-size: 23px;
    margin-bottom: -2px;
}

p {
    font-size: 19px;
}
