@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.nav .logo {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav .logo img {
  width: 60px;
  margin: 0 15px 0 0;
}
.nav .logo p {
  font-size: 30px;
}
.nav .menu {
  width: 40%;
}
.nav .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav .menu ul li {
  list-style: none;
}
.nav .menu ul li a {
  text-decoration: none;
  color: #fff;
}
.nav .menu ul li a:hover {
  text-decoration: underline;
  color: lightgray;
}
.banner-image img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.banner-section {
  position: relative;
  text-align: left;
}
.banner-content {
  position: absolute;
  top: 4vh;
  left: 3vw;
}
.banner-content h3 {
  color: #fff;
  font-size: 40px;
}
.div-name {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
.banner-content button {
  margin: 20px 0;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
}
.banner-content button:hover {
  background: darkgray;
  color: white;
}
form {
    margin-bottom: 20px;
}

label {
    
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 85vh;
    padding: 13px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
input[type="text"]:focus {
  background-color: lightgrey;
}
input[type="tel"]:focus {
  background-color: lightgrey;
}
input[type="email"]:focus {
  background-color: lightgrey;
}

.head{
    padding: 0 0 22px 0;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3px;
}
.Table-inner{
  background:lightgray ;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.banner-content{
    color: #fff;
}
.box {
  max-width: 100vw;
  background-color: red;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 60px 0;
}
.footer-col {
  width: 22%;
  padding: 0 1.5%;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}